# Eclipse
.classpath
.project
.settings/

# Intellij
*.iml
.idea/

# Maven
/target/
release.properties
*.releaseBackup

# Svn
.svn/

# Other
log/
*.log
bin/
logs/
network-events/
test-train-events/
test-network-events/
network-events-old/
train-events/